.repositoryListItem-wrapper {
  padding-top: 15px;
  border-bottom:1px solid #e1e4e8;
  box-sizing: border-box;
}

.repositoryListItem-name {
  font-size: 22px;
  letter-spacing: 1.5px;
  margin-top: 40px;
  margin-left: 25px;
}

.repositoryListItem-name a {
  color: #0366d6;
  text-decoration: none;
  position: relative;
}

.repositoryListItem-name a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-width: 0 0 2px;
    border-style: solid;
}

.repositoryListItem-description {
  margin: 15px 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.repositoryListItem-data {
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.repositoryListItem-data div  {
  display: inline-block;
  margin-right: 20px;
}

.repositoryListItem-data svg {
  padding-right: 5px;
}
