.search-wrapper {
  width: 500px;
  margin: 25px auto;
}

.search-wrapper label { display: inline-block; }
.search-wrapper label::after {
  content: " *";
  color: red;
}

.search-bar {
  padding: 8px 0 8px 9px;
  margin: 10px;
  border: 1px solid #d3d5d9;
  box-shadow: none;
  color: #6e7584;
  font-size: 18px;
  width: 250px;
  border-radius: 8px;
}

.search-language {
  padding: 4px 4px;
  margin: 13px;
  color: #6e7584;
  font-size: 18px;
  width: 265px;
  border: 1px solid #d3d5d9;
  border-radius: 8px 0px 0px 8px;
  height: 36px;
  background-color: #fff;
}

.search-button {
  background-color: #0366d6;
  padding: 11px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -ms-flex: 1;
  display: block;
  margin: 10px auto;
  color: #fff;
  font-size: 16px;
}

.search-button:disabled {
  opacity: 0.7;
  color: #ffffffbf;
}

.search-error {
  color: red;
  padding: 5px;
  margin-top: 5px;
  display:block;
  font-size:12px;
}

.search-loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 6px;
}

.search-loader:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  border: 5px solid #0366d6;
  border-color: #0366d6 transparent #0366d6 transparent;
  animation: search-loader 1.2s linear infinite;
}
@keyframes search-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
